# 국고채 금리 조회
- 지정한 날짜의 국고채 수익률과 금리 스프레드 조회
https://www.kisrating.com/ratingsStatistics/statics_spread.do
![](https://i.imgur.com/fqli7Ky.png)

# 페이지 읽어오기
pd.read_html() 로 테이블을 모두 읽어온다

In [1]:
import pandas as pd

url = 'https://www.kisrating.com/ratingsStatistics/statics_spread.do'
dfs = pd.read_html(url)

In [2]:
dfs

[      구분    3월    6월    9월    1년  1년6월    2년    3년    5년
 0    국고채  0.49  0.60  0.77  0.86  1.03  1.20  1.39  1.69
 1    AAA  0.83  0.92  1.07  1.14  1.27  1.46  1.64  1.97
 2    AA+  0.89  0.95  1.11  1.17  1.30  1.49  1.69  2.02
 3     AA  0.93  0.99  1.14  1.20  1.33  1.52  1.73  2.08
 4    AA-  0.96  1.01  1.17  1.23  1.36  1.55  1.76  2.19
 5     A+  1.15  1.21  1.37  1.41  1.52  1.67  1.92  2.59
 6      A  1.29  1.35  1.53  1.59  1.71  1.88  2.23  3.04
 7     A-  1.52  1.60  1.79  1.86  2.00  2.24  2.69  3.65
 8   BBB+  2.15  2.57  3.07  3.32  3.80  4.47  5.24  5.72
 9    BBB  2.53  3.07  3.65  3.99  4.61  5.41  6.29  6.77
 10  BBB-  3.21  3.86  4.59  4.97  5.72  6.56  7.66  8.19,
       구분     3월     6월     9월     1년   1년6월     2년     3년     5년
 0    국고채  0.49%  0.60%  0.77%  0.86%  1.03%  1.20%  1.39%  1.69%
 1    AAA     34     32     30     28     24     26     25     28
 2    AA+     40     35     34     31     27     29     30     33
 3     AA     44     39     37     34     30     32     34     39
 4    AA-     47     41     40     37     33     35     37     50
 5     A+     66     61     60     55     49     47     53     90
 6      A     80     75     76     73     68     68     84    135
 7     A-    103    100    102    100     97    104    130    196
 8   BBB+    166    197    230    246    277    327    385    403
 9    BBB    204    247    288    313    358    421    490    508
 10  BBB-    272    326    382    411    469    536    627    650,
 Empty DataFrame
 Columns: [회사명]
 Index: [],
 Empty DataFrame
 Columns: [구분, 제목, 등록일, 다운로드]
 Index: [],
                   사채명 분류                 사채명 분류.1
 0             SB : 무보증사채                GB : 보증사채
 1         SBS : 후순위무보증사채            GBS : 후순위보증사채
 2   SFB : 중소기업외국인전용무보증사채             GCB : 보증전환사채
 3          FRN : 변동금리부사채             SECB : 담보부사채
 4              CB : 전환사채              DR : 주식예탁증서
 5           CB2 : 해외전환사채  HB : 하이브리드채권(채권형신종자본증권)
 6          SCB : 무보증전환사채           SOC : 사회간접자본채권
 7      SSCB : 후순위무보증전환사채             STB : 전자단기사채
 8         BW1 : 신주인수권부사채     ABSTB : 자산유동화 전자단기사채
 9       BW2 : 해외신주인수권부사채         PRJ : 프로젝트파이낸스채권
 10     BWS : 후순위신주인수권부사채                PFB : 특수채
 11             PP : 사모사채             DLB : 파생결합사채
 12             EB : 교환사채         SDLB : 후순위파생결합사채
 13          FEB : 해외교환사채         ELB : 주가연계파생결합사채
 14           GR : 보증기관평가                      NaN]

# 국고채 금리

In [3]:
df_interest = dfs[0]
df_interest.set_index('구분', inplace=True)
df_interest

        3월    6월    9월    1년  1년6월    2년    3년    5년
구분
국고채   0.49  0.60  0.77  0.86  1.03  1.20  1.39  1.69
AAA   0.83  0.92  1.07  1.14  1.27  1.46  1.64  1.97
AA+   0.89  0.95  1.11  1.17  1.30  1.49  1.69  2.02
AA    0.93  0.99  1.14  1.20  1.33  1.52  1.73  2.08
AA-   0.96  1.01  1.17  1.23  1.36  1.55  1.76  2.19
A+    1.15  1.21  1.37  1.41  1.52  1.67  1.92  2.59
A     1.29  1.35  1.53  1.59  1.71  1.88  2.23  3.04
A-    1.52  1.60  1.79  1.86  2.00  2.24  2.69  3.65
BBB+  2.15  2.57  3.07  3.32  3.80  4.47  5.24  5.72
BBB   2.53  3.07  3.65  3.99  4.61  5.41  6.29  6.77
BBB-  3.21  3.86  4.59  4.97  5.72  6.56  7.66  8.19

# 금리 스프레드

In [4]:
df_spread = dfs[1]
df_spread.set_index('구분', inplace=True)
df_spread

         3월     6월     9월     1년   1년6월     2년     3년     5년
구분
국고채   0.49%  0.60%  0.77%  0.86%  1.03%  1.20%  1.39%  1.69%
AAA      34     32     30     28     24     26     25     28
AA+      40     35     34     31     27     29     30     33
AA       44     39     37     34     30     32     34     39
AA-      47     41     40     37     33     35     37     50
A+       66     61     60     55     49     47     53     90
A        80     75     76     73     68     68     84    135
A-      103    100    102    100     97    104    130    196
BBB+    166    197    230    246    277    327    385    403
BBB     204    247    288    313    358    421    490    508
BBB-    272    326    382    411    469    536    627    650

In [5]:
df_interest.loc['BBB+', '6월']

2.57

In [6]:
df_interest.loc['국고채', '2년']

1.2

# 특정 날짜의 국고채 금리
날짜를 지정하고 검색

- https://www.kisrating.com/ratingsStatistics/statics_spread.do
- startDt:2021.06.29
![](https://i.imgur.com/JiFo2Lt.png)

In [1]:
import pandas as pd
import requests

url = 'https://www.kisrating.com/ratingsStatistics/statics_spread.do'
data = {'startDt':'2021.06.29'}
r = requests.post(url, data=data)

dfs = pd.read_html(r.text)
df_interest = dfs[0]
df_interest.set_index('구분', inplace=True)
df_interest

        3월    6월    9월    1년  1년6월    2년    3년    5년
구분
국고채   0.55  0.65  0.88  0.96  1.15  1.32  1.46  1.76
AAA   0.85  0.95  1.10  1.24  1.35  1.55  1.70  2.04
AA+   0.91  0.98  1.14  1.26  1.38  1.57  1.75  2.08
AA    0.95  1.01  1.16  1.28  1.41  1.60  1.78  2.14
AA-   0.97  1.03  1.19  1.32  1.44  1.64  1.81  2.25
A+    1.19  1.25  1.42  1.51  1.63  1.78  2.00  2.66
A     1.33  1.40  1.58  1.69  1.81  1.99  2.30  3.11
A-    1.56  1.64  1.84  1.96  2.11  2.35  2.76  3.72
BBB+  2.27  2.69  3.20  3.50  3.98  4.66  5.40  5.87
BBB   2.65  3.19  3.78  4.17  4.79  5.60  6.44  6.92
BBB-  3.32  3.99  4.72  5.15  5.90  6.75  7.81  8.34

In [8]:
df_interest.loc['BBB+', '6월']

2.69