# 시가총액 순위 정보
한국거래소 정보데이터시스템(http://data.krx.co.kr) "전종목 시세"에서 종목 전체를 얻을 수 있습니다.

- http://data.krx.co.kr
- 통계 → 주식 → 종목시세 → 전종목시세
![](https://i.imgur.com/HN7uuAx.png)
'조회' 버튼을 눌었을 때 다음 요청이 발생합니다.
![](https://i.imgur.com/etnTwom.png)

In [5]:
import requests

url = 'http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd'
data = {
    'bld': 'dbms/MDC/STAT/standard/MDCSTAT01501',
    'mktId': 'ALL',
    'trdDd': '20210715',
    'share': '1',
    'money': '1',
    'csvxls_isNo': 'false',
}

r = requests.post(url, data)
r.text[:1000]

'{"OutBlock_1":[{"ISU_SRT_CD":"060310","ISU_ABBRV":"3S","MKT_NM":"KOSDAQ","SECT_TP_NM":"중견기업부","TDD_CLSPRC":"2,935","FLUC_TP_CD":"1","CMPPREVDD_PRC":"35","FLUC_RT":"1.21","TDD_OPNPRC":"2,900","TDD_HGPRC":"2,950","TDD_LWPRC":"2,890","ACC_TRDVOL":"96,670","ACC_TRDVAL":"282,403,350","MKTCAP":"135,806,890,655","LIST_SHRS":"46,271,513","MKT_ID":"KSQ"},{"ISU_SRT_CD":"095570","ISU_ABBRV":"AJ네트웍스","MKT_NM":"KOSPI","SECT_TP_NM":"","TDD_CLSPRC":"6,200","FLUC_TP_CD":"2","CMPPREVDD_PRC":"-130","FLUC_RT":"-2.05","TDD_OPNPRC":"6,290","TDD_HGPRC":"6,340","TDD_LWPRC":"6,150","ACC_TRDVOL":"299,769","ACC_TRDVAL":"1,868,482,220","MKTCAP":"290,298,229,000","LIST_SHRS":"46,822,295","MKT_ID":"STK"},{"ISU_SRT_CD":"006840","ISU_ABBRV":"AK홀딩스","MKT_NM":"KOSPI","SECT_TP_NM":"","TDD_CLSPRC":"29,100","FLUC_TP_CD":"1","CMPPREVDD_PRC":"600","FLUC_RT":"2.11","TDD_OPNPRC":"28,850","TDD_HGPRC":"29,100","TDD_LWPRC":"28,400","ACC_TRDVOL":"28,262","ACC_TRDVAL":"816,975,800","MKTCAP":"385,504,025,100","LIST_SHRS":"13,247,5'

In [6]:

import json

j = json.loads(r.text)
j['OutBlock_1'][:2] # 처음 2건

[{'ISU_SRT_CD': '060310',
  'ISU_ABBRV': '3S',
  'MKT_NM': 'KOSDAQ',
  'SECT_TP_NM': '중견기업부',
  'TDD_CLSPRC': '2,935',
  'FLUC_TP_CD': '1',
  'CMPPREVDD_PRC': '35',
  'FLUC_RT': '1.21',
  'TDD_OPNPRC': '2,900',
  'TDD_HGPRC': '2,950',
  'TDD_LWPRC': '2,890',
  'ACC_TRDVOL': '96,670',
  'ACC_TRDVAL': '282,403,350',
  'MKTCAP': '135,806,890,655',
  'LIST_SHRS': '46,271,513',
  'MKT_ID': 'KSQ'},
 {'ISU_SRT_CD': '095570',
  'ISU_ABBRV': 'AJ네트웍스',
  'MKT_NM': 'KOSPI',
  'SECT_TP_NM': '',
  'TDD_CLSPRC': '6,200',
  'FLUC_TP_CD': '2',
  'CMPPREVDD_PRC': '-130',
  'FLUC_RT': '-2.05',
  'TDD_OPNPRC': '6,290',
  'TDD_HGPRC': '6,340',
  'TDD_LWPRC': '6,150',
  'ACC_TRDVOL': '299,769',
  'ACC_TRDVAL': '1,868,482,220',
  'MKTCAP': '290,298,229,000',
  'LIST_SHRS': '46,822,295',
  'MKT_ID': 'STK'}]

In [7]:
import pandas as pd

df = pd.json_normalize(j['OutBlock_1'])
df

,ISU_SRT_CD,ISU_ABBRV,MKT_NM,SECT_TP_NM,TDD_CLSPRC,FLUC_TP_CD,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS,MKT_ID
0,060310,3S,KOSDAQ,중견기업부,"2,935",1,35,1.21,"2,900","2,950","2,890","96,670","282,403,350","135,806,890,655","46,271,513",KSQ
1,095570,AJ네트웍스,KOSPI,,"6,200",2,-130,-2.05,"6,290","6,340","6,150","299,769","1,868,482,220","290,298,229,000","46,822,295",STK
2,006840,AK홀딩스,KOSPI,,"29,100",1,600,2.11,"28,850","29,100","28,400","28,262","816,975,800","385,504,025,100","13,247,561",STK
3,054620,APS홀딩스,KOSDAQ,중견기업부,"18,000",1,150,0.84,"17,700","18,500","17,350","247,897","4,452,666,200","367,095,978,000","20,394,221",KSQ
4,265520,AP시스템,KOSDAQ,우량기업부,"30,700",1,650,2.16,"29,850","30,900","29,850","274,854","8,396,156,050","444,542,968,900","14,480,227",KSQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2567,000547,흥국화재2우B,KOSPI,,"29,500",2,-50,-0.17,"29,100","29,500","28,900","1,063","30,937,800","4,531,200,000","153,600",STK
2568,000545,흥국화재우,KOSPI,,"10,300",1,200,1.98,"10,100","10,300","10,050","6,696","67,681,050","7,910,400,000","768,000",STK
2569,003280,흥아해운,KOSPI,,"1,035",0,0,0.00,0,0,0,0,0,"247,494,403,980","239,125,028",STK
2570,037440,희림,KOSDAQ,중견기업부,"7,170",1,20,0.28,"7,150","7,230","7,100","120,506","864,296,210","99,824,145,750","13,922,475",KSQ
2571,238490,힘스,KOSDAQ,우량기업부,"11,450",1,100,0.88,"11,350","11,500","11,250","42,177","479,603,900","129,525,102,200","11,312,236",KSQ

In [4]:
# 컬럼들의 타입이 모두 object(str 문자열) 입니다
df.dtypes

ISU_SRT_CD       object
ISU_ABBRV        object
MKT_NM           object
SECT_TP_NM       object
TDD_CLSPRC       object
FLUC_TP_CD       object
CMPPREVDD_PRC    object
FLUC_RT          object
TDD_OPNPRC       object
TDD_HGPRC        object
TDD_LWPRC        object
ACC_TRDVOL       object
ACC_TRDVAL       object
MKTCAP           object
LIST_SHRS        object
MKT_ID           object
dtype: object

다음 컬럼들은 ','를 없애고 수치값으로 바꾸어 주어야 합니다.

CMPPREVDD_PRC, FLUC_RT, TDD_OPNPRC, TDD_HGPRC, TDD_LWPRC, ACC_TRDVOL, ACC_TRDVAL, MKTCAP, LIST_SHRS

In [8]:
# 전체에서 ','를 제거
df = df.replace(',', '', regex=True)

# 수치값으로 변환
numeric_cols = ['CMPPREVDD_PRC', 'FLUC_RT', 'TDD_OPNPRC', 'TDD_HGPRC', 'TDD_LWPRC', 
                'ACC_TRDVOL', 'ACC_TRDVAL', 'MKTCAP', 'LIST_SHRS'] 
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# 시가총액순으로 소트
df = df.sort_values('MKTCAP', ascending=False) 
df

,ISU_SRT_CD,ISU_ABBRV,MKT_NM,SECT_TP_NM,TDD_CLSPRC,FLUC_TP_CD,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS,MKT_ID
943,005930,삼성전자,KOSPI,,80600,1,1100,1.38,79800,80600,79500,13766279,1102123440533,481164473530000,5969782550,STK
223,000660,SK하이닉스,KOSPI,,123500,3,0,0.00,123500,124000,122500,1500981,185185753500,89908292077500,728002365,STK
156,035420,NAVER,KOSPI,,449000,1,5000,1.13,446500,452500,439500,950460,423309605500,73754264355000,164263395,STK
1990,035720,카카오,KOSPI,,159500,2,-2500,-1.54,162000,162000,158500,3821843,609995225500,70891406685000,444460230,STK
944,005935,삼성전자우,KOSPI,,73100,1,300,0.41,73000,73300,72500,1219199,88819104900,60153017770000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221,245450,씨앤에스링크,KONEX,일반기업부,2290,3,0,0.00,2290,2290,2290,1,2290,3618108400,1579960,KNX
1811,240340,인터코스,KONEX,일반기업부,999,0,0,0.00,0,0,0,0,0,3342976677,3346323,KNX
1323,267810,앙츠,KONEX,일반기업부,1600,1,110,7.38,1650,1650,1550,5391,8381780,2475200000,1547000,KNX
815,225850,미애부,KONEX,일반기업부,283,0,0,0.00,0,0,0,0,0,1414575217,4998499,KNX
1505,225860,엠앤씨생명과학,KONEX,일반기업부,75,0,0,0.00,0,0,0,0,0,1277785350,17037138,KNX

In [9]:
df.dtypes

ISU_SRT_CD        object
ISU_ABBRV         object
MKT_NM            object
SECT_TP_NM        object
TDD_CLSPRC        object
FLUC_TP_CD        object
CMPPREVDD_PRC      int64
FLUC_RT          float64
TDD_OPNPRC         int64
TDD_HGPRC          int64
TDD_LWPRC          int64
ACC_TRDVOL         int64
ACC_TRDVAL         int64
MKTCAP             int64
LIST_SHRS          int64
MKT_ID            object
dtype: object

# 함수로 만들기

In [7]:
import requests
import numpy as np
import pandas as pd
import json

def krx_marcap(date):
    dt = pd.to_datetime(date)
    url = 'http://data.krx.co.kr/comm/bldAttendant/executeForResourceBundle.cmd?baseName=krx.mdc.i18n.component&key=B128.bld'
    j = json.loads(requests.get(url).text)
    date_str = j['result']['output'][0]['max_work_dt']
    
    url = 'http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd'
    data = {
        'bld': 'dbms/MDC/STAT/standard/MDCSTAT01501',
        'mktId': 'ALL',
        'trdDd': dt.strftime('%Y%m%d'),
        'share': '1',
        'money': '1',
        'csvxls_isNo': 'false',
    }
    j = json.loads(requests.post(url, data).text)
    df = pd.json_normalize(j['OutBlock_1'])
    df = df.replace(',', '', regex=True)
    numeric_cols = ['CMPPREVDD_PRC', 'FLUC_RT', 'TDD_OPNPRC', 'TDD_HGPRC', 'TDD_LWPRC', 
                    'ACC_TRDVOL', 'ACC_TRDVAL', 'MKTCAP', 'LIST_SHRS'] 
    df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')
    
    df = df.sort_values('MKTCAP', ascending=False) # 시가총액순으로 소트
    cols_map = {'ISU_SRT_CD':'Code', 'ISU_ABBRV':'Name', 
                'TDD_CLSPRC':'Close', 'SECT_TP_NM': 'Dept', 'FLUC_TP_CD':'ChangeCode', 
                'CMPPREVDD_PRC':'Changes', 'FLUC_RT':'ChagesRatio', 'ACC_TRDVOL':'Volume', 
                'ACC_TRDVAL':'Amount', 'TDD_OPNPRC':'Open', 'TDD_HGPRC':'High', 'TDD_LWPRC':'Low',
                'MKTCAP':'Marcap', 'LIST_SHRS':'Stocks', 'MKT_NM':'Market', 'MKT_ID': 'MarketId' }
    df = df.rename(columns=cols_map)
    df.index = np.arange(len(df)) + 1
    return df

In [9]:
marcap = krx_marcap('20210629')
marcap

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
1,005930,삼성전자,KOSPI,,81000,2,-900,-1.10,81900,82100,80800,15744317,1277813841567,483552386550000,5969782550,STK
2,000660,SK하이닉스,KOSPI,,125000,2,-1000,-0.79,127500,128000,125000,2211572,278678507000,91000295625000,728002365,STK
3,035720,카카오,KOSPI,,158000,1,3000,1.94,156000,158000,154500,3938542,616177168500,70140874430000,443929585,STK
4,035420,NAVER,KOSPI,,411500,1,3500,0.86,409500,411500,406000,572319,234075964000,67594387042500,164263395,STK
5,005935,삼성전자우,KOSPI,,74000,2,-900,-1.20,74600,74700,73800,1358035,100647803800,60893615800000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2569,240340,인터코스,KONEX,일반기업부,999,0,0,0.00,0,0,0,0,0,3342976677,3346323,KNX
2570,242350,피엔아이컴퍼니,KONEX,일반기업부,670,1,27,4.20,625,700,625,5112,3310044,3190218400,4761520,KNX
2571,267810,앙츠,KONEX,일반기업부,1490,2,-5,-0.33,0,0,0,0,0,2305030000,1547000,KNX
2572,225850,미애부,KONEX,일반기업부,283,0,0,0.00,0,0,0,0,0,1414575217,4998499,KNX
2573,225860,엠앤씨생명과학,KONEX,일반기업부,75,0,0,0.00,0,0,0,0,0,1277785350,17037138,KNX