# 🔥 Quiz  1: Titanic Dataset

타이나틱 데이터셋은 실제 타이타닉 호에 탑승했던 승객들의 정보(성별, 나이 등)를 담고 있습니다.  
이를 바탕으로 승객의 생존여부 또는 생존율을 예측하는데 활용됩니다.

이번 퀴즈에서는 실제 데이터셋으로 **스스로** 탐색적 자료분석을 실시해봅시다.

다음 물음에 답해주세요!

시작하기 전에 필요한 라이브러리들을 불러옵시다

In [ ]:
import pandas as pd
import os

## Problem 1

수업시간에  한 것처럼 `titanic_train.csv` 파일을 불러와  `titanic` 변수에  저장해보세요!

In [ ]:
# prob1
# ...
titanic = pd.read_csv('./data/titanic_train.csv')

잘 불러와졌다면 `titanic.head(5)`를 입력했을 때 다음과 같은 결과가 나와야합니다.

<img src = "https://1.bp.blogspot.com/-7r6_GPSB56c/Xti-B3jBxsI/AAAAAAAAAZg/sODqzWZA4y4Bsc0wIybtP6TFb-C3YJQTwCLcBGAsYHQ/s1600/%25E1%2584%2589%25E1%2585%25B3%25E1%2584%258F%25E1%2585%25B3%25E1%2584%2585%25E1%2585%25B5%25E1%2586%25AB%25E1%2584%2589%25E1%2585%25A3%25E1%2586%25BA%2B2020-06-04%2B%25E1%2584%258B%25E1%2585%25A9%25E1%2584%2592%25E1%2585%25AE%2B6.24.35.png">

👀 타이타닉 데이터셋의 열들은 다음을 의미합니다.

- Survived = 생존 여부
- Pclass = 티켓의 등급
- Sex = 성별
- Age = 나이
- Sibsp = 동승한 형제 자매 / 배우자 수
- Parch = 동승한 부모 / 자식 수
- Fare = 요금
- Embarked = 승선항

## Problem 2

`titanic_count` 변수와 `titanic_dim`  변수에 각각 titanic dataset의 자료의 수(행의 수)와 차원(열의 수)를
 저장해주세요

In [ ]:
# prob 2
titanic_df.shape
titanic_df.ndim

titanic_count = ...
titanic_dim =  ...
print(titanic_count)
print(titanic_dim)

## Problem 3

`titanic_fare_std` 변수에 타이타닉 호 탑승권의 가격(Fare)의 표준편차를 저장해주세요 (힌트: 판다스의 데이터프레임에 `.std()` 함수를 호출하면 표준편차를 계산할 수 있습니다.)

In [ ]:
titanic_fare_std = ...
print(titanic_fare_std)

## Problem 4

`titanic_fsurv` 변수와 `titanic_age_msurv` 변수에 각각 여성(female)과 남성(male)의 평균 연령(Age)을 계산해 저장해보세요. 

(힌트: 판다스의 데이터프레임에 `.mean()` 함수를 호출하면 평균을 계산할 수 있습니다)

> 어떤 성별의 평균 연령이 더 작은가요?

In [ ]:
# sol 4
titanic_df[['Age', 'Sex']][titancic.Sex == 'female']

# Quiz 1 답안지

## Solution 1

In [ ]:
# sol 1
drive.mount('/content/gdrive/')
os.chdir('/content/gdrive/My Drive/Colab Notebooks/datascience')

In [ ]:
titanic = pd.read_csv('./data/titanic_train.csv')
titanic.head(5)

## Solution 2

In [ ]:
# sol 2
titanic_count = titanic.shape[0]
titanic_dim = titanic.shape[1]

## Solution 3

In [ ]:
# sol 3
titanic_fare_std = titanic['Fare'].std()

## Solution 4

In [ ]:
# sol 4
titanic_fsurv = titanic[titanic['Sex'] == 'female']['Age'].mean()
titanic_msurv = titanic[titanic['Sex'] == 'male']['Age'].mean()
titanic_msurv = titanic[titanic['Sex'] == 'male']['Age'].std()

# or 
titanic_fsurv, titanic_msurv = titanic.groupby(by='Sex')['Age'].mean()